<a href="https://colab.research.google.com/github/NehaKoppikar/OnlineShopping_ResearchPaper/blob/main/Analysis_OnlineShopping_ResearchPaper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Acquisition

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

pre_covid_data = pd.read_csv("/content/drive/MyDrive/OnlineShopping_ResearchPaper/Statistical_Survey_Form  - Sheet1.csv")
pre_covid_data.head()

,Timestamp,Name (Optional),Education,Age Group,Gender,Tick the Social networking apps/Websites you use on regular basis,Preferred mode of Entertainment,How much time do you spend on Social media and Online Entertainment every day?,Tick your most preferred Websites for online shopping,Do you prefer Online shopping over Offline shopping?,How often do you shop online?,Preferred mode of Payment (Online & Offline),Total money spent in one purchase in Rupees (Online & Offline),Age_Group
0,2018/10/01 4:17:15 PM GMT+5:30,DK,Pursuing Bachelors,18 - 24,Female,Facebook;Whatsapp;Instagram;Twitter;Snapchat,"Online - Mobile App or Websites like JioTv, Ho...",1 - 2 hours,Amazon;Flipkart,Yes,"Only on Special Occasions (eg. Birthdays, Anni...",Debit Card,1000 - 3000,21.0
1,2018/10/01 5:49:45 PM GMT+5:30,Izuku Midoriya,Pursuing Bachelors,18 - 24,Male,Whatsapp;LinkedIn;Quora,"Online - Mobile App or Websites like JioTv, Ho...",30 mins - 1 hour,Amazon;Flipkart;Myntra;Shein,Yes,During Sale/Discounts Seasons,COD - Cash On Delivery for Online shopping,1000 - 3000,21.0
2,2018/10/01 5:51:22 PM GMT+5:30,NaN,Pursuing Bachelors,18 - 24,Male,Facebook;Whatsapp;Instagram;Snapchat,"Online - Mobile App or Websites like JioTv, Ho...",1 - 2 hours,Amazon;Flipkart,Yes,Frequently,COD - Cash On Delivery for Online shopping,500 - 1000,21.0
3,2018/10/01 5:52:47 PM GMT+5:30,NaN,Pursuing Bachelors,18 - 24,Female,Facebook;Whatsapp;Instagram;Snapchat,"Online - Mobile App or Websites like JioTv, Ho...",1 - 2 hours,Amazon;Flipkart;TataCliq,No,Very Rarely,Net Banking,1000 - 3000,21.0
4,2018/10/01 6:03:32 PM GMT+5:30,Sandesh,Graduated,25 - 34,Male,Facebook;Whatsapp;Telegram;Quora,Offline - Cable TV or Cinema hall,2 - 5 hours,Amazon;Flipkart,Yes,During Sale/Discounts Seasons,Credit Card,500 - 1000,29.5

In [3]:
post_covid_data = pd.read_csv("/content/drive/MyDrive/OnlineShopping_ResearchPaper/Statistical Survey Form Post Covid (Responses) - Form Responses 1 (1).csv")
post_covid_data.head()

,Timestamp,Name (Optional),Education,Age Group,Gender,Tick the Social networking apps/Websites you use on regular basis,Preferred mode of Entertainment,How much time do you spend on Social media and Online Entertainment every day?,Tick your most preferred Websites for online shopping,Do you prefer Online shopping over Offline shopping?,How often do you shop online?,Preferred mode of Payment (Online & Offline),Total money spent in one purchase in Rupees (Online & Offline),Age_Group
0,4/26/2022 15:16:43,Neha Koppikar,Graduated,18 - 24,Female,"Facebook, Whatsapp, Instagram, Twitter, Linked...","Online - Mobile App or Websites like JioTv, Ho...",2 - 5 hours,Amazon,Yes,Frequently,Debit Card,500 - 1000,21.0
1,4/26/2022 15:21:59,Sharmila Gokarn,Graduated,Above 55,Female,"Facebook, Whatsapp, Instagram, LinkedIn, Teleg...","Online - Mobile App or Websites like JioTv, Ho...",1 - 2 hours,"Amazon, Flipkart, Snapdeal, JioMart",Yes,Frequently,"Digital Wallets like Google pay, UPI, paytm, j...",500 - 1000,57.5
2,4/26/2022 15:34:11,Shibani Gokarn,Post-Graduated,25-34,Female,"Facebook, Whatsapp, Instagram, LinkedIn, Teleg...","Online - Mobile App or Websites like JioTv, Ho...",1 - 2 hours,"Amazon, Flipkart, Myntra, Snapdeal, JioMart, Q...",Yes,Frequently,"Digital Wallets like Google pay, UPI, paytm, j...",500 - 1000,29.5
3,4/26/2022 15:42:39,Anurag Bedekar,Pursuing Bachelors,18 - 24,Male,"Whatsapp, Instagram","Online - Mobile App or Websites like JioTv, Ho...",1 - 2 hours,"Amazon, Quick Grocery Online App like Zepto, Z...",No,Very Rarely,"Digital Wallets like Google pay, UPI, paytm, j...",1000 - 3000,21.0
4,4/26/2022 15:45:35,Viraj Nar,Pursuing Bachelors,18 - 24,Male,Whatsapp,"Online - Mobile App or Websites like JioTv, Ho...",2 - 5 hours,Amazon,No,Very Rarely,COD - Cash On Delivery for Online shopping,1000 - 3000,21.0

## Statistical Analysis

In [4]:
pre_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 14 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Timestamp                                                                       240 non-null    object
 1   Name (Optional)                                                                 126 non-null    object
 2   Education                                                                       240 non-null    object
 3   Age Group                                                                       240 non-null    object
 4   Gender                                                                          240 non-null    object
 5   Tick the Social networking apps/Websites you use on regular basis               240 non-null    object
 6   Preferred mode of Entertainment                                                 240 non-null    object
 7   How much time do you spend on Social media and Online Entertainment every day?  240 non-null    object
 8   Tick your most preferred Websites for online shopping                           240 non-null    object
 9   Do you prefer Online shopping over Offline shopping?                            240 non-null    object
 10  How often do you shop online?                                                   240 non-null    object
 11  Preferred mode of Payment (Online & Offline)                                    240 non-null    object
 12  Total money spent in one purchase in Rupees (Online & Offline)                  240 non-null    object
 13  Age_Group                                                                       240 non-null    float64
dtypes: float64(1), object(13)
memory usage: 26.4+ KB

In [5]:
post_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 14 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Timestamp                                                                       196 non-null    object
 1   Name (Optional)                                                                 139 non-null    object
 2   Education                                                                       196 non-null    object
 3   Age Group                                                                       196 non-null    object
 4   Gender                                                                          196 non-null    object
 5   Tick the Social networking apps/Websites you use on regular basis               196 non-null    object
 6   Preferred mode of Entertainment                                                 196 non-null    object
 7   How much time do you spend on Social media and Online Entertainment every day?  196 non-null    object
 8   Tick your most preferred Websites for online shopping                           196 non-null    object
 9   Do you prefer Online shopping over Offline shopping?                            196 non-null    object
 10  How often do you shop online?                                                   196 non-null    object
 11  Preferred mode of Payment (Online & Offline)                                    196 non-null    object
 12  Total money spent in one purchase in Rupees (Online & Offline)                  196 non-null    object
 13  Age_Group                                                                       196 non-null    float64
dtypes: float64(1), object(13)
memory usage: 21.6+ KB

#### Chi-Square Test

In [6]:
# source: https://www.geeksforgeeks.org/python-pearsons-chi-square-test/

from scipy.stats import chi2_contingency

data = pre_covid_data["Age_Group"]
stat, p, dof, expected = chi2_contingency(data)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 1.0
Independent (H0 holds true)

In [7]:
data_1 = post_covid_data["Age_Group"]
stat_1, p_1, dof_1, expected_1 = chi2_contingency(data_1)

# interpret p-value
alpha = 0.05
print("p value is " + str(p_1))
if p_1 <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 1.0
Independent (H0 holds true)

#### Z Test

In [8]:
import numpy as np
from statsmodels.stats.weightstats import ztest

null_mean = 21

# print mean and sd
print('mean=%.2f stdv=%.2f' % (np.mean(data), np.std(data)))
  
# now we perform the test. In this function, we passed data, in the value parameter
# we passed mean value in the null hypothesis, in alternative hypothesis we check whether the
# mean is larger
  
ztest_Score, p_value= ztest(data,value = null_mean, alternative='larger')
# the function outputs a p_value and z-score corresponding to that value, we compare the 
# p-value with alpha, if it is greater than alpha then we do not null hypothesis 
# else we reject it.
  
if(p_value <  alpha):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

mean=31.05 stdv=13.75
Reject Null Hypothesis

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [9]:
null_mean = 21

# print mean and sd
print('mean=%.2f stdv=%.2f' % (np.mean(data_1), np.std(data_1)))
  
# now we perform the test. In this function, we passed data, in the value parameter
# we passed mean value in the null hypothesis, in alternative hypothesis we check whether the
# mean is larger
  
ztest_Score_1, p_value_1= ztest(data_1,value = null_mean, alternative='larger')
# the function outputs a p_value and z-score corresponding to that value, we compare the 
# p-value with alpha, if it is greater than alpha then we do not null hypothesis 
# else we reject it.
  
if(p_value_1 <  alpha):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

mean=37.83 stdv=12.88
Reject Null Hypothesis